<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Result</title>
</head>

<body>
    <h1>Graphs Generated Successfully</h1>

    <h2>High-Frequency Terms (TF-IDF)</h2>
    <img src="/static/h4.png" alt="Price Trend">

    <h2>High-Frequency Terms (Bag-of-Words)</h2>
    <img src="/static/h3.png" alt="Ratings Trend">

    <h2>Word Cloud of High-Frequency Terms (TF-IDF)</h2>
    <img src="/static/h2.png" alt="Ratings Trend">

    <h2>Word Cloud of High-Frequency Terms (Bag-of-Words)</h2>
    <img src="/static/h1.png" alt="Ratings Trend">



</body>

</html>